$intro-text-color: #111517;
$navbar-shadow-color: #FFFFFF;
$input-color: #848484;
$bg-color: #F2F2F2;
$loader-color: #ff0000;
$flag-color: #808080;
$btn-bg-color: #1186d4;
$bg-dark-color: #202C36;
$bg-colors: #2B3844;
$sun-color: #ffff00;